<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GrandPy Bot</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/logo.jpg')}}">
        <script src="https://kit.fontawesome.com/148d70ce90.js" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/help_btn.js')}}" defer></script>
        <script src="{{url_for('static', filename='js/stats_btn.js')}}" defer></script>
        <script src= "{{ url_for('static',filename='js/script.js') }} " async defer></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=&v=weekly" async></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <h1><a href="#">GrandPy Bot</a></h1>
            <p>Il connaît tous les endroits, demandez-lui!</p>
        </header>
        <section id="mainScreen">
            <form action="#" method="post" id="form" onsubmit="event.preventDefault()">
                <div class="inputcontainer">
                    <input type="text" name="question" id="question_textfield" placeholder="Posez votre question ici" autocomplete="off" required>
                    <!--btn valider-->
                    <div class="button" id="validate_button">
                        <i class="fas fa-search fa-1.5x"></i>
                    </div>
                </div>
                <!--btn help-->     
                <div class="toggle" id="help_toggle">    
                    <div class="button" id="help_button">
                        <i class="fas fa-question fa-1.5x"></i>
                    </div>
                    <div class="help_text" id="help_text">
                        <h2>Aide</h2>
                        <p>Vous avez une question sur un lieu? demandez à GrandPy, lui, il sait! Il vous trouvera son adresse et vous donnera quelques informations dessus, un peu comme tous les grand-pères!</p>
                        <p>Par exemple, vous pouvez taper "Palais de l'Elysée" dans la barre centrale de l'application, il devrait vous donner son adresse et vous expliquer l'utilité de ce lieu, à quel moment </p>
                    </div>
                </div>
                <!--btn stats-->
                <div class="toggle" id="stats_toggle">
                    <div class="button" id="stats_button">
                        <i class="fa-solid fa-chart-column"></i>         
                    </div>
                    <div class="help_text" id="stats_modal">
                        <h2 id="stats_title">Statistiques</h2>
                        <div id="stats_result"></div>
                    </div>
                </div>
            </form>
            <div id="answer_container">
            </div>
        </section>
        <footer>
            <div id="footer_container">
                <div id="credits">
                    <div id="credits_sentence">2021 - Rémi Tauvel<span id="row_change"><br /></span> Étudiant Openclassrooms - DA Python</div>
                </div>
                <div id="links">
                    <div id="github_link">
                        <i class="fab fa-github-square"></i>
                        <a href="https://github.com/remace">Mon Github</a>
                    </div>
                    <div id="linkedin_link">
                        <i class="fab fa-linkedin-in"></i>
                        <a href="https://www.linkedin.com/in/remi-tauvel-80595b196/">Mon LinkedIn</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>